body {
	font-family: arial;
	background-color: pink;
}
.tab {
	width: 60px;
	height: 30px;
	float: left;
	margin: 0 5px;
	padding: 5px 10px;
	color: white;
	background-color: gray;
	box-sizing: border-box;
}
.clear {
	clear: both;
}
.section {
	width: 600px;
	height: auto;
	overflow: hidden;
	background-color: white;
	box-sizing: border-box;
	padding: 10px;
	display: none;
	position: absolute;
	top: 38px;
}