ul {
	position: relative;
	list-style: none;
	background-color: #78b43d;
	line-height: 200%;
}
.menu {
	width: 1500px;
    padding: 0px;
    height: 42px;
}
ul > li.trang_tru {
	padding: 0px 10px;
    margin: 5px;
    margin-left: 0px;
    display: inline-table;
    width: 100px;
    text-align: center;
    border-right: 1px gray solid;
    border-left: 1px gray solid;
	/*position: absolute;*/
	/*float: left;*/
}
#ima {
	padding-top: 2px;
	position: absolute;
	top: 0px;
	left: 10px;
}
.item {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 10px;
    margin: 5px;
    margin-left: 0px;
    display: inline-table;
    /*width: 100px;*/
    text-align: center;
    border-right: 1px gray solid;
}